# This file contains all the requirements needed to run the project.
disnake~=2.9.2
python-dotenv~=1.0.1
dacite~=1.8.1
pymongo~=4.8.0
torch~=2.3.1
sentence-transformers~=3.0.1
transformers~=4.43.2
numpy<2
faker~=26.0.0
